body {
  text-align: center;
  font-family: sans-serif;
  color: #444;
}

h1 {
  font-size: 50px;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 50px;
}

td {
  width: 50px;
}
